#user-message-page {
  width: 70%;
  max-height: 100vh;
  display: grid;
  grid-template-areas: 
  'header header'
  'rooms messages'
  'footer footer';
  grid-template-columns: 250px auto;
  padding-left: 25px;
  color: white;
  margin: 40px auto;
}

#user-chat-room-header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #3CA836;
  border-left: 5px solid #328c2d;
  border-right: 5px solid #328c2d;
  border-top: 5px solid #328c2d;

  font-size: 1.5rem;
  letter-spacing: 1px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}

#user-chat-room-container {
  grid-area: rooms;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 30px;
  height: 40vh;
  background-color: #3CA836B3;
  border-left: 5px solid #328c2d;
  overflow-y: scroll;
  padding: 15px;
}

#user-chat-room-message-container {
  grid-area: messages;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 10px;
  padding: 15px 30px;
  border-right: 5px solid #328c2d;
  overflow-y: scroll;
  box-shadow: inset 15px 0 10px -10px rgba(0, 0, 0, 0.5);
}

.chat-user-room-message {
  color: black;
  display: flex;
  flex-direction: column;
}

.chat-user-room-message > h3 {
  box-sizing: border-box;
  border: 5px solid #EA823E;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.chat-user-room-message.user-message {
  align-self: flex-end;
}

.chat-user-room-message.user-message > h3 {
  background-color: #EA823E;
  color: white;
  border: none;
  box-sizing: border-box;
}


#user-chat-room-footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  background-color: #3CA836;
  border-left: 5px solid #328c2d;
  border-right: 5px solid #328c2d;
  border-bottom: 5px solid #328c2d;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.5);
}

#user-chat-room-message-input {
  outline: none;
  height: 35px;
  border-radius: 30px 0 0 30px;
  width: 100%;
  padding: 0 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.17);
  border-top: 1px solid rgba(0, 0, 0, 0.17);
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  border-right: none;
}

#user-chat-room-send-button {
  outline: none;
  height: 39px;
  border-radius: 0 30px 30px 0;
  width: 130px;
  cursor: pointer;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 600;
}

#user-chat-room-send-button:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

#user-chat-room-send-button:active {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0 7px rgba(0, 0, 0, 0.3);
}

.chat-shop-room {
  width: 100%;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5);
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.chat-shop-room.active {
  background-color: rgba(255, 255, 255, 0.4);
  color: black;
  font-weight: 500;
}

.chat-shop-room:hover {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: 500;
  color: white;
}