#cart-checkout-container {
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 0 15px #3CA83680;
  width: 60%;
  min-width: 400px;
  margin: auto;
  height: auto;
  margin-top: 50px;
}

#cart-checkout-container.cart-checkout-container-empty {
  box-shadow: 0 0 15px rgb(145, 145, 145);
}