.popular-search-terms {
  background-color: #3CA836E6;
  color: white;
  padding: 30px 15px;
  width: 100%;
  border-top: 5px solid rgba(0, 0, 0, 0.17);
  border-bottom: 5px solid rgba(0, 0, 0, 0.17);
}

.popular-search-terms-title {
  font-size: 1.5em;
  font-weight: bold;
  margin: 1rem;
  text-align: center;
  margin: 0 0 1rem;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.search-term-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 70%;
  margin: auto;
}

.search-term {
  border-right: 2px solid white;
  border-left: 2px solid white;
  padding: 0.75em 0.75rem;
  cursor: pointer;
  margin-right: -2px;
  margin-bottom: 12px;
  border-radius: 10px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.12);
  transition: 
  background-color 0.3s ease-in-out,
  box-shadow 0.35s ease-in-out,
  padding 0.15s ease-in-out, 
  margin 0.15s ease-in-out;
}

.search-term:hover {
  background-color: rgba(255, 255, 255, 0.17);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.search-term:active {
  padding: 0.5em 0.25rem;
  margin: 0 calc(0.25rem + 3px);
}