#shop-listing-container {
  width: 100%;
 
}

.listing-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 75px;
}